* {
    box-sizing: border-box;
    margin: 0;

}

.poster{
    display: flex;
    align-content: center;
}

.component {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 350px;
}

.starImg {
    width: 20px;
    height: 20px;
}

.title {
    color: white;
    font-size: 40px;
    margin-bottom: 50px;
}

.Info {
    color: white;
    margin-bottom: 30px;
}

.overview {
    color: white;
}
