* {
    margin: 0;
    padding: 0;
    border: hidden;
}


.Search {
    width: 90%;
    position: relative;
    top: 0;
    left: 10%;
    transform: translate(-5%, 0%);
}

.Search .container {
    width: 90%;
}

.input {
    width: 100%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 150px 0;
}


.input .inputbox {
    width: 400px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
}


.input .inputbox:focus {
    outline: none;
}

.input .inputReset {
    width: 40px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border-left: 3px solid red;
    position: fixed;
    transform: translate(180px, 2.5px);

}

.Search .Movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


@media screen and (max-width:480px) {



    .Search {
        height: 100vh;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .Search .container {
        width: 280px;
        height: 100%;
        margin-top: 100px;
    }

    .Search .input{
        width: 100%;
        height: 30%;
        margin-bottom: 0;
    }

    .Search .Movies{
        width: 100%;
    }

    .input .inputbox {
        width: 200px;
        height: 45px;
    }
    
    
    .input .inputReset {
        width: 40px;
        height: 30px;
        position: fixed;
        transform: translate(80px, 110px);
    
    }


   
}