* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}

.Home{
    width: 90%;
    position: relative;
    top: 0;
    left: 10%;
    transform: translate(-5%, 0%);

}

.Home .container{
    width: 90%;
    margin-top: 3vw;
}

.Header_container{
    height: 5vw;
    display: flex;
    justify-content: space-between;
}

.Header_container .Header {
    color: white;
    z-index: 3;
    font-size: 2.3vw;
 
}

.Morebtn {
    font-size: 1.5vw;
    width: 7vw;
    height: 4vw;
    background-color: black;
    color: white;
    
}

.Morebtn:hover {
    color: red;
    border-style: outset;
    border-color: red;
}


@media screen and (max-width:480px) {

 
    .BgImg{
        width: 100vw;
        height: auto;
        overflow: hidden;
    }


    
}