* {
    box-sizing: border-box;
    margin: 0px;
}


.container {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
    max-width: 95%;
}

.Header {
    width: 500px;
    color: white;
    z-index: 3;
}

.Morebtn {
    font-size: 25px;
    width: 250px;
    height: 50px;
    background-color: black;
    color: white;
}

.Morebtn:hover {
    color: red;
    border-style: outset;
    border-color: red;
}

.Top{
    margin-top: 150px;
}

.slider{
    margin-bottom: 80px;
}