* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
}


.Bannercontainer {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; 
    z-index: 1;
}

.Bannerimage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Bannertitle {
    position: absolute;
    max-width: 1000px;
    top: 70%;
    left: 10%;
    transform: translate(-10%, -10%);
    font-size: 2.5vw;
    color: white;
    z-index: 999;
}

.BannerExplanation {
    width: 35vw;
    position: absolute;
    top: 78%;
    left: 11%;
    transform: translate(-10%, -10%);
    font-size: 1.5vw;
    color: white;
    z-index: 999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
