* {
    margin: 0;
    padding: 0;
}

ul{
    list-style:none;
    padding-left:0px;
}

.Detail{
    height: 100vh;
    width: 100%;
}

.background{
     height: 100vh;
     width: 100%;
     background-size: cover;
     background-repeat: no-repeat;
     opacity: 0.3;
     position: relative;
     border-color: black;
}

.rectangle {
    width: 80vw;
    height: 80vh;
    background: rgb(128, 127, 127);
    opacity: 0.9;
    z-index: 999;
    position: absolute;
    top: 12%;
    left: 10%;
  }


.image{
    width: 30vw;
    height: 80vh;
    position: absolute;
    top: 12%;
    left: 10%;
    z-index: 999;
}


.Info{
    width: 40%;
    height: 80%;
    z-index: 999;
    position: absolute;
    top: 12%;
    left: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}




.title{
    color: white;
    z-index: 999;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}


.overview{
    color: white;
    font-size: 27px;
    text-align: center;
    margin-bottom: 30px;
}


.Detail .genreList {
    color: rgb(255, 138, 71);
    font-size: 50px;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.Detail .genre{
    padding: 10px;
}


.MovieInfo{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.Detail h4{
    color: orange;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}


.date{
    font-size: 50px;
    text-align: center;
    color: white;
}


.runtime{
    font-size: 50px;
    text-align: center;
    color: white;
}


.star{
    font-size: 50px;
    text-align: center;
    color: white;
}


.Detail h3{
    color: white;
    display: flex;
    justify-content: center;
}


