* {
    box-sizing: border-box;
    margin: 0;

}

.poster{
    display: flex;
    align-content: center;
}

.MovieInfo{
    width: 50%;
    height: 53vh;
    padding-left: 300px;
}

.starImg {
    width: 20px;
    height: 20px;
}

.title {
    color: white;
    font-size: 40px;
    margin-bottom: 50px;
}

.Info {
    color: white;
    margin-bottom: 30px;
}

.overview {
    color: white;
}
