* {
    box-sizing: border-box;
    margin: 0;
}

.gridcard:hover{
    transform: scale(1.3);
}



@media screen and (min-width: 1200px){

    .gridcard{
        width: 200px;
        height: 300px;
        position: relative;
        border-radius: 5%;
    }
}



@media screen and (min-width: 768px) and (max-width:1199px)  {
    .gridcard{
        width: 150px;
        height: 250px;
        position: relative;
        border-radius: 5%;
    }
}


@media screen and (min-width: 480px) and (max-width:767px) {

    .components_movieImg{
        width: 150px;
    }

    .gridcard{
        width: 150px;
        height: 200px;
        position: relative;
        border-radius: 5%;
    }
}

@media screen and (max-width:479px) {

    .components_movieImg{
        width: 150px;
    }

    .gridcard{
        width: 70px;
        height: 100px;
        position: relative;
        border-radius: 5%;
    }
}

/* Arrows */

.slick-prev {
    z-index: 9999;
  }

.slick-prev,
.slick-next
{
    font-size: 50px;
    line-height: 50px;
    position: absolute;
    top: 45%;
    left: 97%;
    right: 97%;
   
    display: block;
    width: 50px;
    height: 50px;


    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 50%;
}


.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: 10px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '<';
}
[dir='rtl'] .slick-prev:before
{
    content: '>';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '>';
}
[dir='rtl'] .slick-next:before
{
    content: '<';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}
